<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speech Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Speech Analysis</h1>
        <form id="uploadForm" action="/procesddds" method="post">
            <label for="video_path">Enter Video Path:</label><br>
            <input type="text" id="video_path" name="video_path" required><br><br>
            <button type="submit">Profffcess</button>
        </form>
        <div id="output"></div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
